* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: repeating-linear-gradient(50deg, #1ea364 0%, #ffffff 100%);
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: #000000;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(50deg, #ca1c21 0%, #ffffff 100%);
}

.card:nth-child(3n) h1 {
  background-image: linear-gradient(50deg, #379fcc 0%, #ffffff 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(50deg, #8f3b8d 0%, #ffffff 100%);
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  text-align: justify;
}

.syn {
  padding-top: 0px;
  padding-right: 2.5rem;
  padding-bottom: 0rem;
  padding-left: 2.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  background: #232323;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -25px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(100% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}
